*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex{
    display: flex;
}

.container{
    width: 765px;
    height: 800px;
}

.position-relative{
    position: relative;
}

.icone{
    width: 55px;
    height: 55px;
    margin-top: 9px;
    margin-left: 0px;
}

.icone:hover{
    cursor: pointer;
}

.icone-blocadora{
    width: 82px;
    height: 55px;
    margin-top: 9px;
    margin-left: 5px;
}


.icone-blocadora:hover{
    cursor: pointer;
}

nav{
    display: flex;
    background-color: #CCD4D9;
    height: 40px;
    min-width: 765px;
    background-repeat: no-repeat;
}

main{

}

footer{
    display: flex;
    background-image: url(media/layout/fond_bottom_menu.jpg);
    height: 64px;
    width: 765px;
    background-repeat: no-repeat;
}

.position-end{
    left: 0;
}

#container-tess{
    margin-left: 20px;
}

.container-opcoes-leitura{
    margin-left: 50px;
    flex-wrap: nowrap;
}

#container-buscar-leitura{
    margin-left: 120px;
}

#container-icone-go{
    margin-left: 100px;
}

.container-relative{
    position: relative;
}

.container-info-lente{
    position: absolute;
    top: 4%;
    left: 3%;
}

.margin-input-main img{
    margin: 8px;
}

.container-info-lente-interno{
    margin-top: 40%;
}

.img-container-main-info-lente{
    height: 457px;
}

#container-main{
    padding: 5px;
    background-color: #CCD4D9;
}

#img-container-binocular{
    position: absolute;
    left: 84%;
    top: 86%;
    background-color: red;
}

#img-container-binocular:hover{
    cursor: pointer;
}

#img-nasal-mini{
    position: absolute;
    left: 90%;
    top: 2%;
}

.container-top-icons{
    display: flex;
    background: linear-gradient(to bottom, #8CAACE, #C6CFE7);
    
}