*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 800px;
    height: 800px;
}

.icone{
    width: 55px;
    height: 55px;
    margin-top: 6px;
    margin-left: 5px;
}

nav{
    background-image: url(media/background/fond_top_main.jpg);
    height: 40px;
    background-repeat: no-repeat;
}

main{

}

footer{
    display: flex;
    background-image: url(media/layout/fond_bottom_menu.jpg);
    height: 61px;
    background-repeat: no-repeat;
}